@model CreateBrandViewModel
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add product</h4>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control" placeholder="name">
                        <span asp-validation-for="Name"></span>
                    </div>
                   
                    
                    <div asp-validation-summary="ModelOnly"></div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-controller="category" asp-action="index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>